html {
    box-sizing: border-box;
    /* tamanio de HTML */
    font-size: 62.5%;
    }
*, *::before, *::after {
    box-sizing: inherit;
}
body{
    /* estas 2 reglas podemos defini que 1 rem = 10px */
    font-size: 16px;
}

